In [1]:
import pandas as pd

In [2]:
n = pd.series([11,28,72,3,5,8])

AttributeError: module 'pandas' has no attribute 'series'

In [5]:
n

NameError: name 'n' is not defined

In [6]:
import pandas as pd

In [7]:
n=pd.Series([11,28,72,3,5,8])

In [8]:
n

0    11
1    28
2    72
3     3
4     5
5     8
dtype: int64

In [9]:
n.index

RangeIndex(start=0, stop=6, step=1)

In [10]:

n.values

array([11, 28, 72,  3,  5,  8], dtype=int64)

In [12]:
#for string value
fruits = ['apples','oranges','cherries','pears']
quantities = [20,33,52,10]
s = pd.Series(quantities,index=fruits)
s

apples      20
oranges     33
cherries    52
pears       10
dtype: int64

In [13]:
s1=pd.Series([20,33,52,10],index=fruits)
s1

apples      20
oranges     33
cherries    52
pears       10
dtype: int64

In [14]:
s2=pd.Series([17,13,31,32],index=fruits)
s2

apples      17
oranges     13
cherries    31
pears       32
dtype: int64

In [15]:
print(s1+s2)

apples      37
oranges     46
cherries    83
pears       42
dtype: int64

In [1]:
print("sum of s",sum(s))

NameError: name 's' is not defined

In [2]:
print("Sum of s :",sum(s))

SyntaxError: invalid syntax (3816599572.py, line 1)

In [2]:
import statistics as st

In [3]:
df=pd.read_csv('sample data.csv')
df

   data
0     5
1     7
2    11
3     2
4    10
5     9
6     6
7     3
8     5
9     7

In [4]:
st.mean(df['data'])

6.5

In [5]:
st.median(df['data'])

6.5

In [6]:
st.mode(df['data'])

5

In [7]:
st.stdev(df['data'])

2.9154759474226504

In [ ]:
st.variance(df['data'])