In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('S algorithm (1).csv')
df

     sky air temp humidity    wind water forecast enjoy spot
0  sunny     warm   normal  strong  warm     same        yes
1  sunny     warm     high  strong  warm     same        yes
2  rainy     cold     high  strong  warm   change         no
3  sunny     warm     high  strong  cool   change        yes

In [4]:
x = np.array(df)[:,:-1]

In [5]:
x

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

In [6]:
y = np.array(df)[:,-1]
y

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [13]:
def train(ind,dep):                     #ind=independent,dep=dependent
    for i,val in enumerate(dep):         #i=index:0,1,2,3 /val=yes
        if val =='yes':
            specific= ind[i].copy()
            break
    for i, val in enumerate(ind):     #i=0(index),val=['sunny' 'warm' 'normal' 'strong' 'warm' 'same']
        #print(i)
        #print(val)
        if dep[i]=='yes':
            for j in range(len(specific)):
                if val[j] !=specific[j]:
                    specific[j]='?'
                else:
                    pass
    return specific

In [14]:
print(train(x,y))

['sunny' 'warm' '?' 'strong' '?' '?']

In [15]:
result = train(x,y)

In [16]:
result

array(['sunny', 'warm', '?', 'strong', '?', '?'], dtype=object)

In [18]:
day = input("Enter 6 word to change ")
day = day.split()
check = True

Enter 6 word to change ss warm ? strong ? ?

In [19]:
for i in range(len(result)):
    if result[i]=='?' or result[i]==day[i]:
        check=True;
    else:
        check=False;
        break;
if check:
    print("Enjoy spot")
else:
    print("Not Enjoy")

Not Enjoy